.itemBlock {
    display: flex;
    align-items: center;
}
/* 
заметил, что span в ConstructorElement съезжает вверх, если
принимает текст длинной в одну строку, а не в две (24px vs 48px)
*/
.spanOnMiddle span {
    height: 48px;
}