.pageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1280px;
    margin: auto;
}

.pageContainer.ordersPage {
    grid-template-columns: repeat(2, 1fr);
  }

.menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 320px;
}

.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.menu ul li {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0px;
    cursor: pointer;
}

.pInActive {
    color: rgb(64,64,82);
}

a {
    color: aliceblue
}